header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #55BCC9;
    // border-bottom: 1px solid #cafafe;
    box-shadow: 0 4px 2px -2px #55BCC9;
    mix-blend-mode: darken;

}

#title{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: white !important;
    cursor: pointer;
}
