// .card {
//   cursor: pointer;
// }

// .card-img-top {
//   padding-top: 67%; // 3:2 aspect ratio
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

.boxes {
  width: 300px;
  height: auto;
  background-color: #CAFAFE;
  margin: 5px;
  display: block;

  border: 1px solid #55BCC9;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s;
  transform: scale(1.007);
  

  
  &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      transform: scale(1.02);
  }
}

.image-container{
  //   background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // width: 285px;
  // height: auto;
  // margin-top: 8px;
  // left: 50%;
  // transform: translateX(-50%);
  // position: relative;
  // transition: .2s;
  padding-top: 67%; // 3:2 aspect ratio
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

img{
  width: 100%;
  height: auto;
}


#rating {
  position: relative;
  z-index: 9;
  width: 180px;
  height: 40px;
  background-color: rgb(30, 30, 30, 0.05);
  border-radius: 5px;
  top: -10px;
  // top: calc(15% + 250px);
  // left: calc(10% + 325px);

  &>.star {
      position: relative;
      height: 35px;
      width: 35px;    
      cursor: pointer;
      content: url(https://cdn2.iconfinder.com/data/icons/actions-states-vol-1-colored/48/JD-13-512.png);
      // transition: .05s;
      filter: drop-shadow(0px 1px 1px black);

  }

  &>.gray-out {
      filter: grayscale(100%);
      top: 1px;
      transform: scale(.8);
  }
}

.edit-solid.icon {
  color: white;
  position: absolute;
  margin-left: 4px;
  margin-top: 7px;
  width: 14px;
  height: 2px;
  right: 10px;
  bottom: 10px;
  border-radius: 1px;
  border: solid 1px currentColor;
  background-color: currentColor;
  bottom: 17px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  
         
}

.edit-solid.icon:before {
  content: '';
  position: absolute;
  left: -12px;
  top: -1px;
  width: 0px;
  height: 0px;
  border-left: solid 5px transparent;
  border-right: solid 5px currentColor;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}
.click-area {
position: absolute;
right: 5px;
bottom: 5px;
  width: 35px;
  height: 35px;
  background-color: #FC4445;
  border-radius: 50%;

}

