

    <div class='boxes'>

    <div class="image-container" [ngStyle]="{'background-image': 'url(' + picture.imageUrl + ')'}"></div>
    <div class="card-body">
      <h3 class="card-title mb-3">{{ picture.title }}</h3>
      <h4 class="card-subtitle mb-3 text-muted">{{ picture.authorName }}</h4>
      <p class="card-text">{{ picture.description }}</p>
      <p class="">Rating: {{ picture.rate }}</p>
      <p>Comments: {{ picture.comments?.length }}</p>
      <div>
        <a href="" [routerLink]="['/edit', picture.id]">Edit</a>
      </div>
    </div>
  </div>
