<div *ngIf="(picture$ | async) as picture" id="detail-wrapper">
  <h2 id="title">{{picture.title}}</h2>
    <div id="image-wrapper">
        <img [src]="picture.imageUrl" alt="">
    </div>

    <div id="description">
        {{picture.description}}{{picture.description}}{{picture.description}}{{picture.description}}{{picture.description}}{{picture.description}}{{picture.description}}{{picture.description}}{{picture.description}}
    </div>

    <div id="comment-section">
        <h4>Comment section:</h4>
        <div id="comment-wrapper">
            <div class="comment" *ngFor="let comment of picture.comments">
              <div class="user">{{comment.fromName}}: </div>
              {{ comment.comment }}
            </div>
    </div>
</div>
