<div *ngIf="(picture$ | async) as picture" id="detail-wrapper">
  <h2 id="title">{{picture.title}}</h2>
    <div id="image-wrapper">
        <img [src]="picture.imageUrl" alt="">
    </div>

    <div id="description">
        {{picture.description}}{{picture.description}}{{picture.description}}{{picture.description}}{{picture.description}}
    </div>

    <div id="rating" (mouseleave)="ratingHoverValue = picture.rate">
      <img class="star" (mouseenter)="ratingHoverValue = 1" (click)="update(picture, 1)" [ngClass]="{'gray-out': ratingHoverValue == 0 && picture.rate < 1 || ratingHoverValue > 0 && ratingHoverValue < 1}">
      <img class="star" (mouseenter)="ratingHoverValue = 2" (click)="update(picture, 2)" [ngClass]="{'gray-out': ratingHoverValue == 0 && picture.rate < 2 || ratingHoverValue > 0 && ratingHoverValue < 2 }">
      <img class="star" (mouseenter)="ratingHoverValue = 3" (click)="update(picture, 3)" [ngClass]="{'gray-out': ratingHoverValue == 0 && picture.rate < 3 || ratingHoverValue > 0 && ratingHoverValue < 3 }">
      <img class="star" (mouseenter)="ratingHoverValue = 4" (click)="update(picture, 4)" [ngClass]="{'gray-out': ratingHoverValue == 0 && picture.rate < 4 || ratingHoverValue > 0 && ratingHoverValue < 4 }">
      <img class="star" (mouseenter)="ratingHoverValue = 5" (click)="update(picture, 5)" [ngClass]="{'gray-out': ratingHoverValue == 0 && picture.rate < 5 || ratingHoverValue > 0 && ratingHoverValue < 5 }">
    </div>

    <div id="comment-section">
        <h4 *ngIf="picture.comments?.length > 0">Comment section:</h4>
        <h4 *ngIf="picture.comments?.length == 0">There are no comments</h4>
        <div id="comment-wrapper"  *ngIf="picture.comments?.length > 0">
            <div class="comment" *ngFor="let comment of picture.comments">
              <div class="user">{{comment.fromName}}: </div>
              {{ comment.comment }}
            </div>          
      </div>
    <textarea #textarearino id="comment-textarea" name="" id="" cols="30" rows="10"></textarea>
    <button id="add-comment-btn" (click)="addComment(picture, textarearino.value);  textarearino.value = ''">Add comment</button>
</div>

<!-- <h1>{{ratingHoverValue}}</h1> -->
